.container {
    padding: 2rem;
}

.header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.action-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.search-container {
    position: relative;
    margin-bottom: 1rem;
    top: 10px;
}

.action-container>.button {
    margin-right: 100px;
}

.search-input {
    padding: 0.5rem 2rem 0.5rem 1.75rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    width: 100%;
}

.button {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 102px;
}

.button:hover {
    background-color: #45A049;
}

.btn-add {
    width: 48px;
}



.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    max-width: 400px;
    width: 90%;
    overflow: "scroll";
}

.dialog-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-left: 8px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.table th,
.table td {
    padding: 0.75rem;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f4f4f4;
    text-align: left;
}

.table td button {
    margin-right: 0.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    /* Ensures all rows have the same width */
}

.form-label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-input,
.form-select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    width: 100%;
    /* Ensure all inputs and selects stretch to the same width */
    box-sizing: border-box;
}